<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta alumno</title>
</head>
<body>
    <form action="">
        <label for="num_control">Numero de control: </label>
        <input type="text">
        <label for="nombre">Nombre(s):</label>
        <input type="text">
        <label for="primer_ap">Primer Apellido:</label>
        <input type="text">
        <label for="segundo_ap">Segundo Apellido:</label>
        <input type="text">
        <label for="fecha_nac">Fecha de nacimiento:</label>
        <input type="date">
        <label for="semestre">semestre:</label>
        <select name="semestre" id="semestre">
            <option value="1">1ro</option>
            <option value="2">2do</option>
            <option value="3">3ro</option>
            <option value="4">4to</option>
            <option value="5">5to</option>
            <option value="6">6to</option>
            <option value="7">7mo</option>
            <option value="8">8vo</option>
            <option value="9">9no</option>
            <option value="10">10mo</option>
        </select>
        <label for="carrera">Carrera: </label>
        <select name="carrera" id="carrera">
            <option value="ISC">ISC</option>
            <option value="IM">IM</option>
            <option value="IIA">IIA</option>
            <option value="CP">CP</option>
            <option value="LAE">LAE</option>
        </select>

    </form>
</body>
</html>