<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALUMBOS</title>

    <!-- BUSTRAP-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>

    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $(".msj").fadeOut(1500);
            }, 3000);
        });
    </script>

</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="../public/assets/images/estudiantes.png" class="img-fluid"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Asignaturas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Docentes</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5 mb-5">

        <div class="row">

            <div class="col-md-12">

                <h1 style="font-size: 28px; margin-top: 50px;" class=" text-center">CERVICIOS ESCOLARES </h1>

                <div class="col-md-10">
                    <!--navegacion-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page">Inicio</li>
                            <li class="breadcrumb-item active" aria-current="page">Alumnos</li>
                        </ol>
                    </nav>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="content-box-large">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h2>ALUMNOS</h2>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <%  if(locals.data != '') { //q es esto%>
                                    <div class="msj alert alert-primary" role="alert">
                                        <% locals.data %>
                                    </div>
                                    <%  } %>

                                    <a href="/alumnos/altas" class="btn btn-success mt-4 ml-3"> + agregar </a>

                                    <!--Cargar egistro dinamico-->
                                    <section class="example mt-4">
                                        <table class="table table-hover" id="tabla_alumnos">
                                        </table>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr>
    <footer class="text-muted mt-3 mb-3">
        <div align="center">
            FUTER
        </div>
    </footer>


    <script type="text/javascript">
        fetch('/alumnos?tabla=alumnos', {
            method: 'GET',
        })
            .then(res => res.json(), rej => { console.error("Error del request: \n", rej) })
            .then(data => {
                //agarra la tabla y sobreescribela y la cabecera
                const tabla = document.getElementById('tabla_alumnos');
                tabla.innerHTML = '';

                //crear el thead y tbody
                const thead = document.createElement('thead');
                const tbody = document.createElement('tbody');

                //configurar la cabecera de la tabla
                const colNumControl = document.createElement('th'); colNumControl.setAttribute('scope', 'col'); colNumControl.innerHTML = "NumControl";
                const colNombre = document.createElement('th'); colNombre.setAttribute('scope', 'col'); colNombre.innerHTML = "Nombre";
                const colPrimerAp = document.createElement('th'); colPrimerAp.setAttribute('scope', 'col'); colPrimerAp.innerHTML = "Apellido";
                const colSemestre = document.createElement('th'); colSemestre.setAttribute('scope', 'col'); colSemestre.innerHTML = "Semestre";
                const colCarrera = document.createElement('th'); colCarrera.setAttribute('scope', 'col'); colCarrera.innerHTML = "Carrera";
                const colAcciones = document.createElement('th'); colAcciones.setAttribute('scope', 'col'); colAcciones.innerHTML = "Carrera";
                //meter la cabecera al thaead
                thead.append(
                    colNumControl, colNombre, colPrimerAp, colSemestre, colCarrera
                );
                //meter el thead y tbody a la tabla
                tabla.append(thead);
                tabla.append(tbody);

                //crear cada row con los datos del alumbo para meterlos al tbody
                data.forEach(alumbo => {
                    console.log("ROW: ", alumbo)
                    //URLS del ABCC
                    const eliminarLink = `/alumnos/eliminar/num_control/${alumbo.num_control}`;
                    const detallesLink = `/consulta?tabla=alumnos&num_control=${alumbo.num_control}`;
                    const modificarLink = `/alumnos/num_control/${alumbo.num_control}?tabla=alumnos`;
                    let row = document.createElement('tr');

                    //crear los td con los datos del alumbo
                    let celdaNumControl = document.createElement('td'); celdaNumControl.innerHTML = alumbo.num_control; celdaNumControl.setAttribute('class', 'v-align-middle');
                    let celdaNombre = document.createElement('td'); celdaNombre.innerHTML = alumbo.nombre; celdaNombre.setAttribute('class', 'v-align-middle');
                    let celdaPrimerAp = document.createElement('td'); celdaPrimerAp.innerHTML = alumbo.primer_ap; celdaPrimerAp.setAttribute('class', 'v-align-middle');
                    let celdaSemestre = document.createElement('td'); celdaSemestre.innerHTML = alumbo.semestre; celdaSemestre.setAttribute('class', 'v-align-middle');
                    let celdaCarrera = document.createElement('td'); celdaCarrera.innerHTML = alumbo.carrera; celdaCarrera.setAttribute('class', 'v-align-middle');
                    let celdaAcciones = document.createElement('td'); celdaAcciones.setAttribute('class', 'v-align-middle');

                    //configura form de acciones
                    const formAcciones = document.createElement('form'); formAcciones.action = eliminarLink; formAcciones.method = 'POST'; formAcciones.onsubmit = confirmarEliminacion;

                    //links con forma de boton para modificar y detalles y el boton de eliminar
                    const btnModificar = document.createElement('a');
                    const btnDetalles = document.createElement('a');
                    const btnEliminar = document.createElement('button');

                    //configurar botnes de acciones
                    btnModificar.href = modificarLink; btnDetalles.setAttribute('class', 'btn btn-primary btn-sm mx-2'); btnDetalles.innerHTML = "Detalles";
                    btnDetalles.href = detallesLink; btnModificar.setAttribute('class', 'btn btn-warning btn-sm mx-2'); btnModificar.innerHTML = "Editar";
                    btnEliminar.type = "submit"; btnEliminar.setAttribute('class', 'btn btn-danger btn-small mx-2'); btnEliminar.innerHTML = 'Eliminar';

                    //meter los botones al form acciones
                    formAcciones.append(btnDetalles, btnModificar, btnEliminar);

                    //meter el formAcciones al td de celdaAcciones
                    celdaAcciones.append(formAcciones);

                    //meter todos los tds al row
                    row.append(
                        celdaNumControl, celdaNombre, celdaPrimerAp, celdaSemestre, celdaCarrera, celdaAcciones
                    );

                    //meter la row al tbody
                    tbody.append(row);
                    //y ya
                });
                //la tabla ya deberia estar jalando
            },
                rej => {
                    console.error("Error de datos: \n", rej)
                })

        function confirmarEliminacion() {
            return confirm("Seguro que quieres ELIMINAR el alumbo?");
        }
    </script>
</body>

</html>